<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= search_form_for @query,url: articles_search_path, method: :post do |f| %>

			    <div class="form-group">
			      <label>記事検索</label><br />
			      <%= f.search_field :text_cont,
			                         class: 'form-control',
			                         value: params.dig(:q, :text_cont) %>
		    	</div>
		  	<% end %>
		</div>
		<div class="col-md-6">
			<h3>記事一覧</h3>
			<div class="list-group list-group">
				<% @articles.each do |article| %>
				    <%= link_to article_path(article),class: "list-group-item list-group-item-light list-group-item-action" do %>
				      <div class="d-flex w-100 justify-content-between">
					      <h4><%= article.title %></h4>
					      <small><%= article.user.name %>   <%= article.created_at.strftime('%Y年%m月%d日') %></small>
				  	  </div>
				    <% end %>
				<% end %>
			</div>
			<%= paginate @articles %>
		</div>
		<div class="col"></div>
	</div>
</div>
