<div class="container">
	<div class="row">
		<div class="col">
			<% if @article.user == current_user %>
				<span><%= link_to "編集する", edit_article_path(@article), class: "btn btn-info" %></span>
				<span><%= button_to "削除する",article_path(@article), method: :delete , data: { confirm: '削除しますか？' },class: "btn btn-danger" %></span>
			<% end %>
		</div>

		<div class="col-md-10">
			<span><%= link_to @article.user.name, user_path(@article.user) %></span>
			<span><%= @article.created_at.strftime('%Y年%m月%d日') %>に投稿</span>
			<h1 style="margin: 40px 0;"><%= @article.title %></h1>
			<%== @article.text %>
		</div>
	</div>
</div>