<% if user_signed_in? %>
  <% if @photo.like_user(current_user.id) %>
    <%= button_to photo_like_path(@photo), method: :delete, id: "like-button", remote: true do  %>
      <%= image_tag("heart_red.png", :size => "16x16") %>
      <span>
        <%= @photo.likes_count %>
      </span>
    <% end %>
  <% else %>
    <%= button_to photo_likes_path(@photo), id: "like-button", remote: true do  %>
      <%= image_tag("heart_gray.png", :size => "16x16") %>
      <span>
        <%= @photo.likes_count %>
      </span>
    <% end %>

  <% end %>
<% else %>
  <%= image_tag("heart_gray.png", :size => "16x16") %>
    <span>
      <%= @photo.likes_count %>
    </span>
<% end %>