<!DOCTYPE html>
<html>
  <head>
    <title>Photon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <ul class = "nav sticky-top" style="background-color: #FFDEAD;">
          <li class = "nav-item">
            <%= link_to "Photon",photos_path,class:"nav-link" %>
          </li>
          <li class = "nav-item">
            <%= link_to "About",photos_path,class:"nav-link" %>
          </li>
          <li class = "nav-item">
            <%= link_to "Article",photos_path,class:"nav-link" %>
          </li>

          <% if user_signed_in? %>
            <li class = "nav-item">
              <%= link_to "#{current_user.name}'s Photos",user_path(current_user.id),class:"nav-link" %>
            </li>
            <li class = "nav-item">
              <%= link_to "post new photo", new_photo_path,class:"nav-link" %>
            </li>
            <li class = "nav-item">
              <%= link_to "Log out", destroy_user_session_path, method: :delete,class:"nav-link" %>
            </li>
          <% else %>
            <li class = "nav-item">
              <%= link_to "Log in", new_user_session_path,class:"nav-link" %>
            </li>
          <% end %>
          </ul>

      <div class = "main-content">
        <%= yield %>
      </div>
      <script defer src="https://use.fontawesome.com/releases/v5.6.1/js/all.js"></script>
  </body>
</html>
